body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #fff;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%; /* Berubah dari fix width ke persentase */
    max-width: 400px; /* Batas maksimum untuk layar besar */
    padding: 20px;
    background-color: rgba(248, 243, 223, 0.59);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inilogo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.logo {
    max-width: 100%;
    height: auto;
}

.judul {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: #CDAF6A;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 800;
    border-bottom: 1px solid #CDAF6A;
    padding-bottom: 4%;
}

.form-section {
    width: 100%;
}

.form-input {
    margin-bottom: 15px;
}

.label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}

input[type="text"], textarea {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 4px; /* Menambah sudut membulat */
}

textarea {
    resize: none; /* Mencegah perubahan ukuran secara manual */
    height: 100px; /* Tinggi default untuk textarea */
}

button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to bottom, #936300 0%, #c99607 50%, #936300 100%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 0 0.5px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease; /* Efek transisi */
}

button:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.8);
}

/* Media Queries untuk Responsivitas */
@media (max-width: 768px) {
    .contact-us {
        width: 95%; /* Lebar penuh untuk layar kecil */
        max-width: none;
        padding: 15px;
    }

    .judul {
        font-size: 18px;
        padding-bottom: 3%;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    input[type="text"], textarea {
        font-size: 13px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .judul {
        font-size: 16px;
    }

    button {
        font-size: 12px;
        padding: 6px;
    }

    input[type="text"], textarea {
        font-size: 12px;
        padding: 6px;
    }
}
